body { 
	text-align: center; 
}

h1 { 
	font-size: 50px; 
}

body { 
	font: 20px Helvetica, sans-serif; 
	background-color: #0F1A20; 
	color: #88A2AA; 
}

article { 
	display: block; 
	text-align: left; 
	width: 650px; 
	margin: 0 auto; 
}

a { 
	color: #F42C04; 
	text-decoration: none; 
}


